.backdrop-modal{
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.449);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.backdrop-modal.open{
    display: block;
}